.card-place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    max-width: 2000px;
    min-width: 620px;
    height: 320px;
    padding: 10px;
    background-color: #d1d1d1;
    border-radius: 10px;
    border-bottom: 2px solid #ccc; /* Border at the top */
    border-left: 2px solid #ccc; /* Border at the left */
    border-right: 2px solid #ccc; /* Border at the right */
}

/* cdk Drag Stuff */
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-place.cdk-drop-list-dragging .card-container:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media only screen and (max-width: 600px) {
    .card-place {
        width: 100vw;
        height: calc((40vw / 2) * 3 + 20px);
        min-height: calc((40vw / 2) * 3 + 20px);;
        min-width: 100vw;
    }
}